{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div>
            <h2>Bienvenue {{user.username}} !</h2>
        </div>

        <div>
            <p>Nom d'utilisateur : {{user.username}}</p>
            <p>Email : {{user.email}}</p>
            <p><a href="{% url "apply" %}">Ma candidature</a></p>
            <p><a href="{% url "competence" %}">Mon arbre de compétences</a></p>
        </div>
        <div><img src="/arbre_django/media/graphic/graphic_{{user.username}}.jpg" alt="graphique de compétences de {{user.username}}" ></div>
    </div>
    {% else %}
        <a href="{% url "signup_simplonien" %}">S'incrire</a>
        <a href="{% url "login" %}">Connexion</a>
        
    {% endif %}

{% endblock content %}
