{% extends 'base.html' %}

<div  class="container-fluid" style="margin:20px 0 0 30px">
{% block content %}

{% if user.is_authenticated %}
<div class="container-fluid" style="padding:30px 0 0 40px">
    
    <div style="margin-bottom:40px">
        <div>
            <h2>Bienvenue {{user.username}} !</h2>
        </div>
        
        <div>
            <p>Notez vos informations pour ajouter votre candidature à la liste des <a href="/candidats">Simploniens</a> !</p>
        </div>
    </div>
    
    {% else %}
    <a href="{% url "signup_simplonien" %}">S'incrire</a>
    <a href="{% url "login" %}">Connexion</a>
    
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="mb-3">
            <label for="upload">Photo de profil :</label><br>
            <input type="file" accept="image/png, image/jpg" name="upload" id="upload" required>
        </div>
        <div class="mb-3">
            <label for="name">Nom :</label><br>
            <input type="text" name="name" id="name" pattern="[a-Z]{2-20}" required>
        </div>
        <div class="mb-3">
            <label for="first_name">Prénom :</label><br>
            <input type="text" name="first_name" id="first_name" pattern="[a-Z]{2-20}" required>
        </div>
        <div class="mb-3">
            <label for="slug">Mon URL personnalisée :</label><br>
            <input type="text" name="slug" id="slug" placeholder="nom_prenom" required>
            <p>Exemple : https://monsite.fr/<b>monsuper_url</b></p>
        </div>
        <div class="mb-3">
            <label for="position">Mon objectif :</label><br>
            <select name="position" id="position" required>
                <option value="">--Selectionner un choix--</option>
                <option value="Data Engineer">Data Engineer</option>
                <option value="Data Analyst">Data Analyst</option>
                <option value="Data Scientist">Data Scientist</option>
                <option value="Dev Data/IA">Dev Data/IA</option>
                <option value="Dev Data/IA">Dev OPS</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description">Ma description brève : (500 caractères max)</label><br>
            <textarea id="description" style="
            width: 30%;
            height: 200px;
            resize: none;" 
            name="description" required></textarea>
        </div>
            <button type="submit" class="btn btn-primary">Envoyer ma candidature</button>
      </form>
   </div>

{% endblock content %}
