{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    <div>
        <h2>Bienvenue {{user.username}} !</h2>
    </div>

    <div>
        <p>Notez vos informations pour ajouter votre candidature à notre liste de <a href="/candidats">candidatures</a> !</p>
    </div>
    
    {% else %}
        <a href="{% url "signup_simplonien" %}">S'incrire</a>
        <a href="{% url "login" %}">Connexion</a>
        
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="upload">Photo de profil :</label>
            <input type="file" accept="image/png, image/jpg" name="upload" id="upload" required>
        </div>
        <div>
            <label for="name">Votre nom :</label>
            <input type="text" name="name" id="name" pattern="[a-Z]{2-20}" required>
        </div>
        <div>
            <label for="first_name">Votre prenom :</label>
            <input type="text" name="first_name" id="first_name" pattern="[a-Z]{2-20}" required>
        </div>
        <div>
            <label for="slug">Mon URL personnalisé :</label>
            <input type="text" name="slug" id="slug" placeholder="nomprenom" required>
            <p>Exemple : https://monsite.fr/<b>monsuperurl</b></p>
        </div>
        <div>
            <label for="position">Mon objectif :</label>
            <select name="position" id="position" required>
                <option value="">--Selectionner un choix--</option>
                <option value="Data Engineer-">Data Engineer-</option>
                <option value="Data Analyst">Data Analyst</option>
                <option value="Data Scientist">Data Scientist</option>
                <option value="Dev Data/IA">Dev Data/IA</option>
                <option value="Dev Data/IA">Dev OPS</option>
            </select>
        </div>
        <div>
            <label for="description">Ma description :</label>
            <textarea id="description" name="description"required></textarea>

        </div>
        <div>
            <input type="submit" value="Envoyer">
        </div>
    </form>

{% endblock content %}
