{% extends 'base.html' %}
{% load widget_tweaks %}

<div class="container-fluid" style="margin:20px 0 0 30px">
{% block content %}

    {% if user.is_authenticated %}
<div class="container-fluid" style="padding:30px 0 0 40px">

    <div style="margin-left:10px">
        <div>
        <h2>Bienvenue {{user.username}} !</h2>
    </div>

    <div>
        <p>Ceci est la page pour ajouter vos compétences</p>
    </div>
    </div>
    <form method="POST">
        {% csrf_token %}
               
        <div class="grid">
                {% for x in form %}
                
                <div class="miniForm">
                    <div class="input-comp">
                        {{ x.label }}
                        {{ x|add_class:"form-control" }}
                    </div>
                </div>
                {% endfor %}
                </div>
                    <button style="margin:40px 0 30px 10px" type="submit" class="btn btn-primary">Générer mon graphique</button>
                </div>
            </div>
            
        </div> 
        </div> 
            

    </form>
    
    {% else %}
        <a href="{% url "signup_simplonien" %}">S'inscrire</a>
        <a href="{% url "login" %}">Connexion</a>
        
    {% endif %}

{% endblock content %}
