{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}

    <section class="vh-100" >
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="margin-top:-10%;
            margin-right: 5%;
            margin-left: 5%;
             background-color:white;
                 border: solid rgba(7, 4, 2, 0.568) 5px;">
              <div class="card-body p-md-5 ">
                <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6 col-xl-5 order-2 order-lg-1">
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" ><a href="./singup/"> S'inscrire </a></p>
                                                            <form method="POST">
                                                              {% csrf_token %}
                                                             
                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">nom</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c"> mot de passe</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">confirmer votre mot de passe</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                     j'accepte les conditions générale </a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg">Enregister</button>
                  </div>

                
                                      </form>
                                   
                                   
                                    


</div>    
<div class="col-xl-6 d-none d-xl-block">
  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
    alt="Sample photo" class="img-fluid"
    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
</div>

</div>
</div>
</div>
</div>
</div>


<form method="POST" class="mx-auto w-96 ">
  <h1 class="pb-8">
    <i class="fa-solid fa-user-plus"></i> Create Account
  </h1>
    {% csrf_token %}
    <div class="mb-3">

      <label for="{{form.username.id_for_label}}" class="form-label">Username</label>

        {{form.username|add_class:"input input-bordered input-secondary w-full max-w-xs"}}
    </div>
    

    <div class="mb-3">
        <label for="{{form.last_name.id_for_label}}" class="form-label">last name</label>
        {{form.last_name|add_class:"input input-bordered input-secondary w-full max-w-xs"}}
        {% comment %} <div  align="left" id="emailHelp" class="form-text">{{form.password2.help_text}}</div> {% endcomment %}
        {% comment %} <div align="left"  <small style="color: grey">{{form.email.help_text}}</small> </div> {% endcomment %}
      </div>
  

      

    <div class="mb-3">
        <label for="{{form.password1.id_for_label}}" class="form-label">Password</label>
        {{form.password1|add_class:"input input-bordered input-secondary w-full max-w-xs"}}
        <div align="left"  <small style="color: grey">{{form.password1.help_text}}</small> </div>
        
    </div>

    <div class="mb-3">
        <label for="{{form.password2.id_for_label}}" class="form-label">Confirm Password</label>
        {{form.password2|add_class:"input input-bordered input-secondary w-full max-w-xs"}}
        {% comment %} <div  align="left" id="emailHelp" class="form-text">{{form.password2.help_text}}</div> {% endcomment %}
        <div align="left"  <small style="color: grey">{{form.password2.help_text}}</small> </div>
    </div>


    <div class="mb-3">
      <label for="{{form.password2.id_for_label}}" class="form-label">Your email</label>
      {{form.email|add_class:"input input-bordered input-secondary w-full max-w-xs"}}
      {% comment %} <div  align="left" id="emailHelp" class="form-text">{{form.password2.help_text}}</div> {% endcomment %}
      {% comment %} <div align="left"  <small style="color: grey">{{form.email.help_text}}</small> </div> {% endcomment %}
      <div align="left"  <small style="color: grey">Please enter a valid email address.</small> </div>
    </div>



  
  {% for field in form %}
      <p>
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}


    <button type="submit" class="btn btn-outline btn-secondary rounded-lg">Submit</button>

  </form>
</div>
{% endblock content %}