body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }
 
main{
    flex-grow: 1;
}

footer{
    background-color: black;
    color: white; 
    text-align: center;}






.miniForm {
    height: 100%;
    width: 40%;
}

.input-comp {
    margin: 20px 0 0 10px;
    width: 150px;
    font-size: 20px;
}

.submit {    
    margin: 20px 0 30px 10px;
}

.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . .";
}

