{% comment %} <header>
    <nav>
       <div class="px-2 py-2 text-bg-dark">
         <div class="container">
           <div class="d-flex flex-wrap align-items-center justify-content-space_between justify-content-lg-start">
             <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
               <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
             </a>
   
             <ul class="nav col-12 col-lg-auto my-1 justify-content-space_between my-md-1 text-small">
               <li>
                 <a href="#" class="nav-link text-white">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                  <strong class="ab"><a id="link" href="#">Home </a></strong> 
                 </a>
               </li>
               <li>
                 <a href="#" class="nav-link text-white">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                   <strong class="ab"><a id="link" href="#">Profils </strong>
                   
                 </a>
               </li>
   
   
               <li>
                 <a href="#" class="nav-link text-white">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                  <strong class="ab"><a id="link" href="#">A propos </a></strong> 
                 </a>
               </li>
               <li>
                 <a href="#" class="nav-link text-white">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                   <strong class="ab"><a id="link" href="{% url 'login' %}">Connexion</strong>
                   
                 </a>
               </li>
               <li>
                 <a href="#" class="nav-link text-white">
                   <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                   <strong class="ab"><a id="link" href=> S'inscrire</a></strong>
                   
                 </a>
               </li>
               {% if user.is_authenticated %}
               <span class="navbar-text"> Bienvenue: {{user.get_username}}</span>
               <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}?next={{request.path}}">Déconnexion</a>
               {% else %}
               <span class='navbar-text'></span>
               {% endif %}
             </ul>
           </div>
         </div>
       </div>
       <div class="px-3 py-2 border-bottom mb-3">
         <div class="container d-flex flex-wrap justify-content-center">
           </div>
         </div>
       </div>
     </nav>
   </header> {% endcomment %}
   <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'index_page' %}" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Profils</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Compétence</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Apropos</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          {% if user.is_authenticated %}
            {{ user.username}}
            <a href="{% url "account" %}">Mon profil</a>
            <a href="{% url "logout" %}">Déconnexion</a>
        {% else %}
            <a href="{% url "signup_simplonien" %}">S'inscrire</a>
            <a href="{% url "login" %}">Connexion</a>
        {% endif %}
        </div>
      </div>
    </div>
  </header>